@using Abp.eCommerce.Localization
@using Abp.eCommerce.Web.Public.Models.Order
@using Abp.eCommerce.Web.Public.Models.Profile
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.Settings
@using Volo.Abp.Users

@inject IStringLocalizer<eCommerceResource> L
@inject ICurrentUser CurrentUser
@inject ISettingProvider SettingManager
@inject IThemeManager ThemeManager
@inject IStringLocalizerFactory StringLocalizerFactory

@model UserAddressViewModel

<h4 class="text-primary fw-semibold">
    <i class="fa fa-user-edit me-2"></i>@L["ShippingAddress"]
</h4>
<hr class="mb-4" />

<form method="post" id="ShippingAddressForm" class="needs-validation" novalidate>
    <input name="UserId" id="UserId" value="@CurrentUser.Id" type="hidden" />

    <abp-row>
        <abp-column size-md="_12" class="mb-3">
            <label for="Shipping_Address" class="form-label">@L["DisplayName:ShippingAddress"]</label>
            <gmp-place-autocomplete class="form-control address-input shadow-sm"
                data-prefix="Billing">
            </gmp-place-autocomplete>
        </abp-column>

        <abp-column size-md="_12" class="mb-4">
            <div id="shipping-map" class="rounded shadow-sm border" style="height: 300px;"></div>
        </abp-column>

        <div id="Shipping_AddressComponent" class="@(string.IsNullOrEmpty(Model.Address) ? "d-none" : "") row px-0 mx-0">
            <abp-column size-md="_12">
                <abp-input asp-for="Address" id="Shipping_Address" floating-label="true" />
            </abp-column>

            <abp-column size-md="_6">
                <abp-input asp-for="UnitNumber" id="Shipping_UnitNumber" floating-label="true" />
            </abp-column>

            <abp-column size-md="_6">
                <abp-input asp-for="StreetNumber" id="Shipping_StreetNumber" floating-label="true" />
            </abp-column>

            <abp-column-breaker />

            <abp-column size-md="_6">
                <abp-input asp-for="BuildingName" id="Shipping_BuildingName" floating-label="true" />
            </abp-column>

            <abp-column size-md="_6">
                <abp-input asp-for="PostalCode" id="Shipping_PostalCode" floating-label="true" />
            </abp-column>

            <abp-column-breaker />

            <abp-column size-md="_6">
                <abp-input asp-for="Locality" id="Shipping_Locality" floating-label="true" />
            </abp-column>

            <abp-column size-md="_6">
                <abp-input asp-for="Country" id="Shipping_Country" floating-label="true" />
            </abp-column>

            <input asp-for="Address" type="hidden" id="Shipping_Address" />
            <input asp-for="Sublocality" id="Shipping_Sublocality" type="hidden" />
            <input asp-for="AdministrativeAreaLevel1" id="Shipping_AdministrativeAreaLevel1" type="hidden" />
            <input asp-for="AdministrativeAreaLevel2" id="Shipping_AdministrativeAreaLevel2" type="hidden" />
            <input asp-for="Longitude" id="Shipping_Longitude" type="hidden" />
            <input asp-for="Latitude" id="Shipping_Latitude" type="hidden" />
        </div>
    </abp-row>

    <div class="text-end mt-4">
        <abp-button type="submit"
                    button-type="Primary"
                    class="rounded-pill px-4 py-2 shadow"
                    text="@L["Save"].Value" />
    </div>
</form>