@using Product.Dtos.ProductCategory
@model List<ProductCategoryDto>

<button class="d-none d-md-block btn btn-sm btn-outline-secondary mb-2" onclick="toggleSidebar()">
    <i class="fa-solid fa-bars" id="sidebarToggleIcon"></i>
</button>

<div class="list-group list-group-flush">
    @for (var i = 0; i < Model.Count; i++)
    {
        <a href="#"
           class="list-group-item list-group-item-action align-items-center category-item @(i == 0 ? "active" : "")"
           id="@Model[i].Id"
           onclick="showCategory('@Model[i].Id')">
            <i class="@Model[i].Icon me-3 fs-5"></i>
            <span class="fw-medium sidebar-text">@Model[i].Name</span>
        </a>
    }
</div>